{% compress css %}
  <style type="text/x-scss">
    #row-{{ value.block.creation_counter }} {
      {% if value.height_xs %}
        .visible-xs-inline .well {
          height: {{ value.height_xs }};
        }
      {% endif %}
      {% if value.height_sm %}
        .visible-sm-inline .well {
          height: {{ value.height_sm }};
        }
      {% endif %}
      {% if value.height_md %}
        .visible-md-inline .well {
          height: {{ value.height_md }};
        }
      {% endif %}
      {% if value.height_lg %}
        .visible-lg-inline .well {
          height: {{ value.height_lg }};
        }
      {% endif %}
    }
  </style>
{% endcompress %}

<div class="row" id="row-{{ value.block.creation_counter }}">
  {% for col in value.columns %}
    <div class="visible-xs-inline">{{ col }}</div>
    <div class="visible-sm-inline">{{ col }}</div>
    <div class="visible-md-inline">{{ col }}</div>
    <div class="visible-lg-inline">{{ col }}</div>
  {% endfor %}
</div>
