//
// Mixins
//

@mixin declare-font($family, $style, $weight, $url) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url($url) format('woff');
  }
}

@mixin color-inverse {
  color: $navbar-inverse-color;
  background-color: $navbar-inverse-bg;
  a {
    color: $inverse-link-color;
    &:hover {
      color: $inverse-link-hover-color;
    }
  }
}
