@import 'variables';
@import 'bootstrap';
@import '../font-awesome/scss/font-awesome';
@import 'mixins';

//
// Global styling
//

@include declare-font(
  'Linux Biolinum', normal, normal, '../fonts/LinBiolinum_R.woff');
@include declare-font(
  'Linux Biolinum', normal, bold, '../fonts/LinBiolinum_RB.woff');
@include declare-font(
  'Linux Biolinum', italic, normal, '../fonts/LinBiolinum_RI.woff');
@include declare-font(
  'Linux Libertine', normal, normal, '../fonts/LinLibertine_R.woff');
@include declare-font(
  'Linux Libertine', normal, bold, '../fonts/LinLibertine_RB.woff');
@include declare-font(
  'Linux Libertine', italic, normal, '../fonts/LinLibertine_RI.woff');
@include declare-font(
  'Linux Libertine', italic, bold, '../fonts/LinLibertine_RBI.woff');

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-y: scroll;
  font-feature-settings: 'kern', 'liga', 'dlig';
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-bottom: $footer-height * 2;
  }
  @media (min-width: $screen-md-min) {
    margin-bottom: $footer-height;
  }

  > footer {
    @include color-inverse;
    @media (min-width: $screen-sm-min) {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer-height;
      @media (max-width: $screen-sm-max) {
        height: $footer-height * 2;
      }
    }
    .container {
      .infos {
        padding-top: $grid-gutter-width * 3/2;
        padding-bottom: $grid-gutter-width * 3/2;
        address {
          color: white;
          h3 {
            margin-top: 0;
            small {
              color: white;
            }
          }
        }
        .legals {
          margin-bottom: 0;
        }
        @media (max-width: $screen-sm-max) {
          text-align: center;
        }
      }
      #map {
        height: $footer-height;
      }
    }
  }
}

.navbar-fixed-top {
  border: none;
  .navbar-btn {
    &.btn-xs {
      @include navbar-vertical-align(28);
    }
  }
}

main {
  margin-top: $navbar-height;
  padding-bottom: $grid-gutter-width;
  h1 {
    text-align: center;
  }
  p {
    text-align: justify;
    @media (max-width: $screen-sm-max) {
      text-align: left;
    }
  }
}

.sc {
  font-feature-settings: 'kern', 'liga', 'dlig', 'smcp';
}

.navbar-brand {
  svg {
    height: $line-height-computed;
    .nori, .pyt {
      path {
        transition: fill 0.3s ease;
      }
    }
    .nori path {
      fill: $inverse-link-color;
    }
    .pyt path {
      fill: white;
    }
  }
  &:hover svg {
    .nori path {
      fill: white;
    }
    .pyt path {
      fill: $inverse-link-color;
    }
  }
}

hr {
  border-color: transparent !important;
  &:after {
    @include hr-line;
  }
}

.fa {
  vertical-align: -10%;
}

.no-transition {
  transition: none !important;
}

.card {
  $font-size-xs: 0.8;
  position: relative;
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;
  overflow: hidden;
  &.collapsible {
    img, .collapse-indicator, .header {
      cursor: pointer;
    }
  }
  img {
    width: 100%;
  }
  .caption {
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    transition: top 0.5s ease-out;
    .background {
      position: absolute;
      background-size: cover;
      width: 100%;
      height: 100%;
      filter: grayscale(100%) blur(3px) brightness(0.25);
      transition-property: background-position-y, filter;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }
    .content {
      position: relative;
      color: $navbar-inverse-link-hover-color;
      .header {
        padding: $grid-gutter-width;
        text-align: center;
        :first-child {
          margin-top: 0;
        }
        :last-child {
          margin-bottom: 0;
        }
        @media (max-width: $screen-xs-max) {
          padding: $grid-gutter-width / 2;
          h3 {
            font-size: $font-size-h3 * $font-size-xs;
          }
          h5 {
            font-size: $font-size-h5 * $font-size-xs;
          }
        }
      }
      .description {
        overflow-y: auto;
        margin: 0 $grid-gutter-width / 2 $grid-gutter-width $grid-gutter-width;
        padding-right: $grid-gutter-width / 2;
        cursor: initial;
        @media (max-width: $screen-xs-max) {
          margin: 0 0 $grid-gutter-width / 2 $grid-gutter-width / 2;
          font-size: $font-size-xs * 1em;
        }
      }
    }
  }
  &.collapsible {
    .caption .content {
      .collapse-indicator {
        height: 0;
        text-align: center;
        .fa {
          line-height: $grid-gutter-width * 3 / 2;
          transition: transform 0.5s ease-out;
        }
        @media (max-width: $screen-xs-max) {
          .fa {
            line-height: initial;
            font-size: $font-size-xs * 1em;
          }
        }
      }
      .header {
        padding-top: $grid-gutter-width * 3 / 2;
        @media (max-width: $screen-xs-max) {
          padding-top: $grid-gutter-width * 3 / 4;
        }
      }
    }
    &:not(.active):hover .caption .background {
      filter: grayscale(80%) blur(1px) brightness(0.4);
    }
  }
}

#home-logo {
  margin-top: $navbar-height + $grid-gutter-width;
  text-align: center;
  svg {
    max-width: 452px;
    max-height: 400px;
    background: $body-bg;
  }
  .hr {
    position: relative;
  }
  .hr:after {
    top: -32px;
    z-index: -1;
    @include hr-line;
  }
}

//
// Wagtail specific
//

.rich-text img {
  max-width: 100%;
  height: auto;
}

.responsive-object {
  position: relative;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
